body {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: 400;
	font-size: 14px;
	overflow: hidden;
}

.btn-gohere {
	visibility: hidden;
}


.canteen-tte {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	padding-top: 12px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	display: block;
	margin: 0 auto 8px auto;
}

.canteen-tte td {
	text-align: center;
	font-size: 12px;
	width: 15%;
	line-height: 12px;
}

#canteens {
	overflow: hidden;
}

.canteen {
	height: 90%;
}

.canteen .name {
	height: 64px;
	line-height: 1em;
	background: #444;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 64px;
	margin: 0;
	padding-bottom: 10px;
	margin-bottom: 25px;
	color: #fff;
	text-transform: uppercase;
	border-bottom: 1px solid #eee;
}

.canteen-seats {
	margin: 15px;
	border: 1px dashed #ddd;
	padding: 15px;
}

.seat {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	margin: 5px;
	display: inline-block;
	background: red;
}

@-webkit-keyframes bounceIn {
	0% { -webkit-transform: scale(0); }
	100% { -webkit-transform: scale(1.2); }
}

.seat[data-value="1"] {
	background: green;
	-webkit-animation: bounceIn .4s;
}

.canteen-circles {
	margin-bottom: 20px;
	width: 100%;
}

.canteen-circles td {
	text-align: center;
	font-size: 12px;
	width: 15%;
	line-height: 12px;
}

.canteen-circle {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	line-height: 62px;
	text-align: center;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	display: block;
	margin: 0 auto 8px auto;
}

[data-available_seats] {
	background: #258302;
}

[data-occupied_seats] {
	background: #f00;
}

[data-temperature] {
	background: #683405;
}

[data-queue] {
	background: #485050;
}

[data-user-ETA] {
	background: #712343;
}


[data-arrivals] {
	background: #290439;
}

[data-timetoeat] {
	background: #a83;
}

.progress {
	margin: 0 15px;
}

.btn-gohere.active {
	background-color: green;
}

@media screen and (max-width: 600px) {
	.btn-gohere {
		visibility: visible;
		width: 100px;
		height: 100px;
		font-size: 20px;
		border: 1px solid #ccc;
		background: #369;
		color: #fff;
		border-radius: 50% !important;
	}

	.canteen-seats{
		height: 0;
		visibility: hidden;
	}


	.canteen-circles td {
		text-align: center;
		font-size: 12px;
		line-height: 20px;
		width: 20% !important;
	}
}